<h3> Bands </h3>
<a href = <%= new_band_url %>> Add a band!</a>
<ul>
<% @bands.each do |band| %>
    <li> <%= band.name %></li>
    <a href = <%= band_url(band) %>> View Band </a>
    <form method = "post" action = "<%= band_url(band) %>" >
        <input type = "hidden" name = "authenticity_token" value="<%= form_authenticity_token %>">
        <input type = "hidden" name ="_method" value ="delete">
        <input type = submit value = "remove band">
    </form>
<% end %>
</ul>