<h2> CAT </h2>
<table>
<thead>
    <th><%= cat.name %></th>
</thead>
<tbody>
    <tr>
    <td>Birthday: <%= cat.birth_date %></td>
    </tr>
    <td>Color: <%= cat.color %></td>
    <tr>
    <td>Sex: <%= cat.sex %></td>
    </tr>
    <tr>
    <td>Description: <%= cat.description %></td>
    </tr>
</tbody>
</table>
<% if form == :show %>
    <a href = "<%= cats_url %>"> Back to Cats </a>    
<% else %>
    <a href = "<%= cat_url(cat) %>"> Look at this cat </a>
<% end %>